@import "tailwindcss";
html{ 
    overflow-x: hidden;
}
.border-outline-variant {
  border-color: rgb(187 202 191 / 1);
}

.px-margin {
  padding-left: 40px;
  padding-right: 40px;
}

.py-md {
  padding-top: 16px;
  padding-bottom: 16px;
}

.text-label-sm {
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.01em;
}
.py-sm {
  padding-top: 8px;
  padding-bottom: 8px;
}
.px-lg {
  padding-left: 32px;
  padding-right: 32px;
}
.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.tracking-widest {
  letter-spacing: 0.1em;
}
.font-display {
  font-family: Playfair Display;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
  vertical-align: middle;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
.animate-float-3d {
    animation: float 4s ease-in-out infinite;
    transform-style: preserve-3d;
}

@keyframes float {
  0% {
    transform: translateY(0px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: translateY(-12px) rotateX(6deg) rotateY(6deg);
  }
  100% {
    transform: translateY(0px) rotateX(0deg) rotateY(0deg);
  }
}